* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 20px;
  margin: 0;
}

/* Header */

header {
  background-color: #7db1de;
  color: #fff;
  text-align: center;
  padding: 100px;
}

nav {
  display: flex;
  background-color: #333;
}

nav li {
  list-style-type: none;
  display: inline;
}

nav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #ddd;
  color: #000;
}

/* Column container */

.column-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

/* Side bar - left column */

.side-column {
  flex: 40%;
  background-color: #f1f1f1;
  padding: 20px;
}

.side-column img {
  padding: 2em;
}

#book-list {
  text-align: center;
  padding: 2rem;
}

.review-quote {
  background-color: #7db1de;
  padding: 9rem;
}

.book-club-banner {
  width: 100%;
  padding-top: 4rem;
}

/* Main Column */

.main-column {
  flex: 60%;
  background-color: #fff;
  padding: 20px; 
}

.src-img {
  width: 85%;
  padding: 1rem;
}

.silent-b-club {
  font-size: 25px;
}

/* Footer */

#footer {
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .column-container, nav {   
    flex-direction: column;
  }
}
